@import "tailwindcss";

@keyframes pulse-slow {
  0%,
  100% {
    opacity: 0.7;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
}

.animate-pulse {
  animation: pulse-slow 5s infinite ease-in-out;
}
